.mainContainer {
    width: 600px;
    height: 350px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2.5px black solid;
    border-radius: 15px;
    box-shadow: 1.5px 1.5px black;
}
