@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.outerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.factContainer {
    width: 450px;
    height: 225px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2.5px black solid;
    box-shadow: 2.5px 2.5px black;
    margin: 15px;
    border-radius: 15px;
}


.factContainerHeader {
    width: 90%;
    height: 50px;
    font-size: 14px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: black;
}

.fact {
    width: 400px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: 'Roboto';
    color: black;
    overflow-wrap: break-word;
}
